<div class="container">
	<div class="card-container">

		<div *ngIf="pokemonRecibido.name.length > 0 " class="pokemon-container">

			<div class="power-level">
				<span># {{ pokemonRecibido.id }} </span>
				<div class="pokemon-snap">
					<img [src]="pokemonRecibido.sprites.front_default" />
				</div>
				<div class="half-circle"></div>
			</div>
			<div class="poke-card">

				<div class="name">
					<h1 style="text-transform: capitalize;">{{pokemonRecibido.name}}</h1>
					<div class="hp" [style.background]="hp_gradiente">
						<p>HP {{pokemonRecibido.stats[0].base_stat}}</p>
					</div>
				</div>

				<ul class="stats">
					<li>
						<div class="tipp">
							<p *ngIf="pokemonRecibido.types[0]">
								{{pokemonRecibido.types[0].type.name}}&nbsp;
							</p>
							<p *ngIf="pokemonRecibido.types[1]">
								{{'/&nbsp;' +
								pokemonRecibido.types[1].type.name}}
							</p>
						</div>
						<span>Type</span>
					</li>
					<li> {{pokemonRecibido.weight * 100 / 1000 }} kg<br /><span>Weight</span></li>
					<li> {{pokemonRecibido.height * 10 / 100}} m<br /><span>Height</span></li>
				</ul>



				<ul class="abilities">
					<li style="text-transform: capitalize;" *ngFor="let stat of pokemonRecibido.stats">
						<div *ngIf="stat.stat.name != 'hp'">

							{{stat.stat.name}} <br>
							<span class="power"> {{stat.base_stat}} </span>
						</div>
					</li>

				</ul>

				<div class="caught">
					{{description_pokemon}}
				</div>

				<div class="transfer">
					<div *ngIf="evolutes_from.length > 0">
						<p>Evolutes From: <b>{{evolutes_from}}</b> </p>
					</div>
					<button class="button" [style.background]="gradiente" (click)="redirect()">Go Back</button>
				</div>

			</div>

		</div>

	</div>
	<!-- <div id="#root">
		<div class="card-wrapper">
			<div class="card-header" [style.background]="colors[pokemonRecibido.types[0].type.name]">
				<div class="card-nav">
				
				</div>
				<h2 id="pokemonName">{{pokemonRecibido.name}} </h2>
				<div class="points">
					<ul class="pills-list">
						<li *ngFor="let type of pokemonRecibido.types"
							[style.background]="colors[pokemonRecibido.types[0].type.name]" class="pills-list-item">
							{{type.type.name}}</li>
					</ul>
					<span class="info"></span>
				</div>
				<img [src]="pokemonRecibido.sprites.front_default" alt="Pokemon" class="character-image">
			</div>
			<div class="card-content">
				<ul class="card-tabs">
					<li class="card-tabs-item active"><a href="#item-1">About</a></li>
					<li class="card-tabs-item"><a href="#item-2">Base Stats</a></li>
					<li class="card-tabs-item"><a href="#item-3">Evolution</a></li>
					<li class="card-tabs-item"><a href="#item-4">Moves</a></li>
				</ul>
				<div class="card-info active" id="item-1">

					<div class="pokemon-stats">
						<p>Weight: <span class="weight" id="pokemonWeight">{{pokemonRecibido.weight * 100 / 1000 }} kg</span> </p>
						<p>Height: <span class="height" id="pokemonHeight">{{pokemonRecibido.height * 10 / 100}} m</span> </p>
					</div>

				</div>
				<div class="card-info" id="item-2">Coming soon...</div>
				<div class="card-info" id="item-3">Coming soon...</div>
				<div class="card-info" id="item-4">Coming soon...</div>
			</div>
		</div>
	</div> -->

</div>
