<div class="container">


  <div class="content">
    <div class="f">
      <h2>Simple list of pokemons</h2>
      <p>See all your favorite pokemons and their abilities in a simple way</p>
      <a routerLink="/pokemon/list">Go list</a>
    </div>
    <div class="s">
      <div class="card one">
        <div class="img">
          <img src="./../../../assets/charizard.png" alt="">
        </div>
        <div class="ct">
          <h3>Charizard</h3>
          <div class="stats">
            <p>Types: Fire - Flying</p>
          </div>
        </div>
      </div>
      <div class="card two">
        <div class="img">
          <img src="./../../../assets/veenasuar.png" alt="">
        </div>
        <div class="ct">
          <h3>Venusaur</h3>
          <div class="stats">
            <p>Types: Grass - Poison</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
